<section class="container about-section">
    <div class="text-section">
        <h2>Sobre o PlayerMatch</h2>
        <h3>Descubra seu próximo jogo perfeito para cada momento.</h3>
        <p> Imagine encontrar o jogo perfeito para cada momento da sua vida, sem pesquisas intermináveis. O PlayerMatch usa tecnologia inteligente para recomendar títulos que combinam com seu humor, tempo livre e estilo de jogo. Quer uma aventura imersiva para o fim de semana? Um quebra-cabeça para estimular a mente? Ou algo leve para descontrair após um dia cansativo? Nós fazemos a conexão. Descubra experiências gaming sob medida para você.
        </p>
    </div>
    <div class="image-section">
        <img src="esports.jpg" width="2000" height="1360" alt="Pessoas jogando">
    </div>
</section>