<main class="quiz-wrapper">

    <section class="quiz-ai">
        <h2>Descubra seu jogo ideal</h2>

        <form (ngSubmit)="submitQuiz()">
            <label>
                Qual tipo de jogo voce está procurando?
                <input [(ngModel)]="quizAnswers[0]" name="q1" required />
            </label>

            <label>
                Qual duração do jogo está bom para você?
                <input [(ngModel)]="quizAnswers[1]" name="q2" required />
            </label>

            <label>
                Gosta de jogar sozinho ou em grupo?
                <input [(ngModel)]="quizAnswers[2]" name="q3" required />
            </label>

            <button type="submit" [disabled]="loading">Ver recomendação</button>
        </form>

        <div class="loading" *ngIf="loading">🎮 Gerando recomendação...</div>

        <div class="recommendation" *ngIf="recommendation">
            <h3>Sugestão da IA:</h3>
            <p>{{ recommendation }}</p>

            <div *ngIf="gameData" class="game-info">
                <img [src]="gameData.background_image" alt="{{ gameData.name }}" />
                <h4>{{ gameData.name }}</h4>
                <p>
                    Plataformas: {{platformList}}
                </p>
            </div>
        </div>
    </section>

</main>