<app-header />
<main>
    <div class="container home-section">
        <div class="main-content">
            <h2>Boas Vindas</h2>
            <h1>Sua próxima aventura está a um clique.</h1>
            <p>Faça o teste e descubra qual o jogo que combina com seu humor de hoje.</p>
            <button class="main-btn">Descobrir meu jogo</button>
        </div>
        <div class="image-content">
            <img src="joystick.png" alt="joystick">
        </div>
    </div>
</main>
<app-trending />
<app-about />
<app-recomendation />